<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="survey" method="post">
            <p>Your Name: <input type="text" name="NameField"></p>
            <p>Dojo Location: <input type="text" name="DojoField"></p>
            <p>Favorite Language: <input type="text" name="LangField"></p>
            <p>Comment (optional):</p>
            <p><input type="text" name="CommentField"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
</body>
</html>