<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @using DojoSurvey.Models
    @model Survey 
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div>
        <form action="process" method="post">

            <div class="form-group">
                <label for="Name">Name: </label> 
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label for="Location">Location: </label>
                <select asp-for="Location" class="form-control">
                    <option value="Philadelphia">Philadelphia</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Chicago">Chicago</option>
                </select>
            </div>

             <div class="form-group">
                <label for="FavLang">FavLang: </label>
                <select asp-for="FavLang" class="form-control">
                    <option value="Ruby">Ruby</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Comment">Comment: </label>
                <textarea asp-for="Comment" id="" cols="30" rows="10" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Comment"></span>
            </div>
            <input type="submit" value="Submit Survey" class="btn btn-outline-dark">
        </form>
    </div>
</body>
</html>