<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h3>Submitted Info</h3>

<p>Name: @ViewBag.Name</p>
<p>Dojo Location: @ViewBag.Dojo</p>
<p>Favorite Language: @ViewBag.Lang</p>
<p>Comment: @ViewBag.Comment</p>

</body>
</html>