@using DojoSurvey.Models
@model Survey
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Submitted Info</h1>

<ul>
    <li>@ViewBag.Survey.Name</li>
    <li>@ViewBag.Survey.Location</li>
    <li>@ViewBag.Survey.FavLang</li>
    <li>@ViewBag.Survey.Comment</li>
</ul>
<a href="/" class="btn btn-primary">Home</a>